<div class="row-fluid">
    <div class="hero-unit">
      <td width="650" valign="top">
      <h1>About</h1>
      <h3>A simple application to help coaches and admins find referees quickly and easily.</h3>

      <p>I built this site after being frustrated with manually having to find a refs for soccer games.</p>
      
      <p>If you have any questions, comments or feedback, definitely let me know!</p>

      <p>My twitter handle is <%= link_to "@steve3279", "http://twitter.com/steve3279" %> or my email steve3279 (at) gmail (dot) com.</p>

      <p>Thanks for your help and support-</p>

      <p>Steve </p>

    </div> <!-- hero -->
  </div> <!-- row -->

