<div class="row-fluid">
  <div class="hero-unit">
    <h1>FAQ</h1>
    <ol>
      <li><h2>How do I get a Ref for my game?</h2></li>
      <p>Click on Referees and then select up to 50 near you as favorites.  You can send emails to your favorite refs.</p>
      <li><h2>Does it cost anything to use this site?</h2></li>
      <p>Not planning to charge anything yet, but I may charge a fee if I have to because of my costs.</p>
      <li><h2>I am a referee on your list.  How do I opt out?</h2></li>
      <p>We're working on it, but in the future you should be able to click opt out and enter your email address and then confirm the email from this site.</p>
      <li><h2>I need an invite?</h2></li>
      <p>Yes.  I want to strictly control who has access to email our refs.  I don't want them to get spammed.</p>
      <li><h2>Do you guys share all of these emails with anyone?</h2></li>
      <p>No.  I will never share your email address with a third party.  The only time someone can see an email address is if they are a logged in, verified user.</p>
      <li><h2>Do you do other sports other than soccer?</h2></li>
      <p>No, other sports suck.</p>
    </ol>
  </div> <!-- hero -->
</div> <!-- row -->
