<div class="row-fluid">
    <div class="hero-unit">
      <h1>FAQ</h1>
      <ol>
        <h2><li>How do I get a Ref for my game?</li></h2>
        <p>Click on Referees and then either check them one at a time, or search by city and then select all to send a mass email.</p>
        <h2><li>Does it cost anything to use this site?</li></h2>
        <p>Not planning to charge anything yet, but I may charge a fee if I have to because of my costs.</p>
        <h2><li>I am a referee on your list.  How do I opt out?</li></h2>
        <p>We're working on it, but in the future you should be able to click opt out and enter your email address and then confirm the email from this site.</p>
      </ol>
    </div> <!-- hero -->
  </div> <!-- row -->

