<div class="row-fluid">
  <div class="hero-unit">
    <h1>FAQ</h1>
    <ol>
      <h2><li>How do I get a Ref for my game?</li></h2>
      <p>Click on Referees and then select up to 50 near you as favorites.  You can send emails to your favorite refs.</p>
      <h2><li>Does it cost anything to use this site?</li></h2>
      <p>Not planning to charge anything yet, but I may charge a fee if I have to because of my costs.</p>
      <h2><li>I am a referee on your list.  How do I opt out?</li></h2>
      <p>We're working on it, but in the future you should be able to click opt out and enter your email address and then confirm the email from this site.</p>
      <h2><li>I need an invite?</li></h2>
      <p>Yes.  I want to strictly control who has access to email our refs.  I don't want them to get spammed.</p>
      <h2><li>Do you guys share all of these emails with anyone?</li></h2>
      <p>No.  I will never share your email address with a third party.  The only time someone can see an email address is if they are a logged in, verified user.</p>
    </ol>
  </div> <!-- hero -->
</div> <!-- row -->
