<div class="row-fluid">
    <div class="hero-unit">
      <h1>Welcome to Soccref.com!</h1>
      <h2>Find a referee for your game!</h2>
      <p>Currently in Beta... invite only.  I am currently <strong>building</strong>.</p>
      <p>Respect the refs!</p>
      <%= link_to raw("Sign In &raquo;"), new_user_session_path, :class => "btn btn-primary btn-large" %>
    </div> <!-- hero -->
  </div> <!-- row -->

