<hr />
<footer>
  <p><%= link_to "Terms of Use", '/pages/terms' %> | 
  <%= link_to "Privacy", '#' %> | 
  <%= link_to "Security", '#' %> | 
  <%= link_to "Opt Out", '#' %><br />
  &copy; 2012 Team Soccer</p>
</footer>
